@charset "utf-8";
/* CSS Document */

.box {
	width:830px;
	height:305px;
	border-width:1px 2px 2px 1px;
	border-style:solid;
	border-color:#ddd #ccc #ccc #ddd;
	position:relative;
	margin:40px;
}
.title3 {
	width:190px;
	height:305px;
	float:left;
	margin-right:20px;
	background-color:#ddeeff;
}
.title3 p {
	text-align:center;
}
.content3 {
	margin:20px;
}
.id {
	margin-top:60px;
}
.id:hover {
	text-decoration:none;
}
.photo {
	margin-top:8px;
}
.link {
	float:right;
	margin-right:33px;
}
table {
	display:inline;
}
.button {
	bottom:15px;
}