@charset "utf-8";
/* CSS Document */

html {
	height:100%;
	border-right:1px solid #ccc;
}
body {
	width:150px;
	overflow:hidden;
	background:url(../img/menu_bg.jpg) repeat-y;
	font:bold 15px "微软雅黑","宋体",Verdana, Geneva, sans-serif;
}
ul {
	padding-top:30px;
} 
li {
	margin-left:10px;
}
a {
	color:#2384bc;
	display:block;
	padding:5px 0 5px 30px;
}
a:hover {
	padding-left:35px;
	background-color:#fff;
	border:1px solid #ccc;
	border-right:1px solid #fff;
}