$def with (site_prefix, menus)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Menu</title>
    <link rel="stylesheet" href="/static/css/all.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/menu.css" type="text/css" />
</head>

<body>
    <div id="menu">
        <ul>
            $for each in menus:
                $if each['id'] in [6, 7]:
            	    <li><a href="$site_prefix/$each['url']" target="_parent">$each['name']</a></li>
                $else:
            	    <li><a href="$site_prefix/$each['url']" target="main">$each['name']</a></li>
        </ul>
    </div>
</body>
</html>

