$def with(site_prefix, devices, types, title)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>safety</title>
<link rel="stylesheet" href="/static/css/all.css" type="text/css"/>
<style>
.box {
    width:640px;
}
.content {
    height:120px;
}
.title {
    width:640px;
    height:30px;
}
.caption2 {
    font:bold 15px "微软雅黑","宋体",Verdana, Geneva, sans-serif;
    color:#2384bc;
    line-height:25px;
}
#tab_1,#tab_2,#tab_3 {
    display:block;
    float:left;
    text-align:center;
    width:90px;
    height:25px;
    margin-top:5px;
    margin-left:10px;
}
.aaa{
    background-image:url(/static/img/tab_back.gif);
}
</style>
</head>

<body>
<script language="javascript">

function formSubmit1()
{
  var oldpw=document.getElementById('productid').value;
  if(oldpw==''){
    alert('请填写产品唯一标识！');
    return false;
  }
  var newpw=document.getElementById('productname').value;
  if(newpw==''){
    alert('请填写产品名称！');
    return false;
  }
  document.getElementById("myForm1").submit();
}
</script>
    <div class="box">
        <div class="title">
            <a id="tab_1" class="aaa" href="javascript:void(0)"><p class="caption2">修改产品信息</p></a>
        </div>
    <form name="myForm1" id="myForm1" action="$site_prefix/modify" method="post" enctype="multipart/form-data">
        <div class="content" id="tab_a1" onkeydown= "if(event.keyCode==13) formSubmit1();">
            $for key in devices:
                <table>
                    <tr>
                        <td class="row1">产品标识&nbsp;：</td>
                        <td class="row2"><input id="productid" class="input" type="test" maxlength="" name="productid" value="$devices[key][10]" />&nbsp;
                    </tr>
                    <tr>
                        <td class="row1">产品名称&nbsp;：</td>
                        <td class="row2"><input id="productname" class="input" type="test" maxlength="" name="productname" value="$devices[key][1]"/></td>
                    </tr>
                    <tr>
                        <td class="row1 lastrow">品牌信息型号&nbsp;：</td>
                        <td class="row2 lastrow"><input id="brand" class="input" type="test" maxlength="" name="brand" value="$devices[key][2]"/></td>
                    </tr>
                </table>
            <a class="button" href="#" onclick="formSubmit1();"/><p>确认修改</p></a>
        </div>
        </form>
        <img src="/static/img/bottom.gif" />
</body>
</html>
