@charset "utf-8";
/* CSS Document */

html,body,div,ul,li,p,a,form,table,th,td,img,span,abbr {
	margin:0;
	padding:0;
	border:0;
} 
body {
	font:normal 14px "微软雅黑","宋体",Verdana, Geneva, sans-serif;
	color:#333;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
ul {
	list-style-type:none;
}
a {
	text-decoration:none;
}
textarea {
	resize:none;
}
/*初始化*/

.box {
	margin:30px 40px;
}
.title {
	background-image:url(../img/title.gif); 
}
.title2 {
	background-image:url(../img/title2.gif);
}
.content {
	border-width:0 1px 0 1px;
	border-style:solid;
	border-color:#ccc;
	padding:20px;
	position:relative;
}
table {
	margin-bottom:10px;
}
.id {
	font:bold 15px "微软雅黑","宋体",Verdana, Geneva, sans-serif;
	color:#008ef1;
}
.id:hover {
	text-decoration:underline;
}
.photo {
	border:1px solid #ccc;
}
.row1 {
	width:20%;
	text-align:right;
	border-bottom:1px solid #ccc;
	padding:8px 10px 8px 0;
}
.row2 {
	width:480px;
	border-bottom:1px solid #ccc;
	padding:8px 0;
}
.input {
	border-width:1px;
	border-style:solid;
	border-color:#c0c0c0 #ededed #ededed #c0c0c0;
	width:150px;
}
.button {
	display:block;
	width:78px;
	height:27px;
	background-image:url(../img/button.png);
	position:absolute;
	right:20px;
	bottom:0;
}
.button:hover {
	background-image:url(../img/button_hover.png);
}
.button:active {
	background-image:url(../img/button_active.png);
}
.button p {
	font-size:14px;
	color:#fff;
	line-height:25px;
	text-align:center;
}
.button1 {
	display:block;
	width:78px;
	height:27px;
	background-image:url(../img/button.png);
	float:left;
	margin-left:420px;
}
.button1:hover {
	background-image:url(../img/button_hover.png);
}
.button1:active {
	background-image:url(../img/button_active.png);
}
.button1 p {
	font-size:14px;
	color:#fff;
	line-height:25px;
	text-align:center;
}
.button2 {
	display:block;
	width:78px;
	height:27px;
	background-image:url(../img/button.png);
	float:left;
	margin-left:20px;
}
.button2:hover {
	background-image:url(../img/button_hover.png);
}
.button2:active {
	background-image:url(../img/button_active.png);
}
.button2 p {
	font-size:14px;
	color:#fff;
	line-height:25px;
	text-align:center;
}
.link {
	font-size:13px;
	color:#2384bc;
}
.link:hover {
	text-decoration:underline;
}
.point {
	font-size:12px;
	color:#666;
}
.point3 {
	font-size:12px;
	color:#F03;
}
.caption {
	font:bold 15px "微软雅黑","宋体",Verdana, Geneva, sans-serif;
	color:#2384bc;
	line-height:30px;
	margin-left:20px;
}
.td1 {
	border-bottom:1px solid #ccc;
	padding:8px 0;
}
.td2 {
	border-bottom:1px solid #ccc;
	padding:8px 20px 8px 30px;
}
.td3 {
	width:640px;
	border-bottom:1px solid #ccc;
	padding:8px 0;
}
.td4 {
	width:30px;
	border-bottom:1px solid #ccc;
	padding:8px 0;
}
.lastrow {
	border-bottom:1px solid #fff;
}
.fpage {
	position:absolute;
	right:20px;
	bottom:0;
}